﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="sendmail.aspx.vb" Inherits="sendmail" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Button runat="server" Text="Button" OnClick="Unnamed1_Click" />
    </div>
    </form>
</body>
</html>
