﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterAfterLogin.master" AutoEventWireup="true" CodeFile="Error.aspx.cs" Inherits="_Default" %>

<%--<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        You Are Invalide User
    </div>
    </form>
</body>
</html>--%>
<style type="text/css">
    .page-wrapperss {
        background-color: #fff;
        margin-left: 15px;
    }
</style>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
        <div class="page-wrapperss">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Error Page</h3>
                </div>
                <div class="panel-body">

                    <div class="col-md-6">
                        <div class="form-group">
                            <div>
                                You Are Invalide User
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
